.barradiricerca{
	padding: 7px 10px;
	font-size: 14px;
	border: none;
	background-color: #f0f0f0;
	width: 450px;
	outline: none;
	border-radius: 2px;
	display: inline;
	margin-right: -10px;
	cursor: text;
}
.speech-bubble {
	position: relative;
	background-color:  #f0f0f0;
	margin-top: -20px;
}
.speech-bubble:after {
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	border: 9px solid transparent;
	border-bottom-color: #f0f0f0;
	width: 0;
	height: 0;
	border-top: 0;
	margin-left: -9px;
	margin-top: -9px;
}
.bar1 {
	width: 28px;
	transition: 0.4s;
}
.change .bar1 {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg)
}
#tendina{
	margin-left:789px;
	margin-top: -4px;
	border-radius: 3px;
	position: absolute;
	width: 106px;
	height: 0px;
	transition: height 0.4s;
	overflow:hidden;
}
#tendinaaccount{
	margin-left:834px;
	margin-top: -4px;
	border-radius: 3px;
	position: absolute;
	width: 106px;
	height: 0px;
	transition: height 0.4s;
	overflow:hidden;
}
.categoriaarticolo{
	height: 33px;
	font-size: 14px;
	border: 1px #e7e7e7 solid;
	background-color: #f5f5f5;
	width: 180px;
	border-radius: 3px;
	display: inline-block;
	margin-bottom: 15px;
	margin-left: 18.5px;
	margin-top: 45px
}
.barra1{
	width: 8px;
	border-bottom: 1.5px grey solid;
	transform: rotate(30deg);
	display: inline-block;
	transition: 0.5s
}
.barra2{
	width: 8px;
	border-bottom: 1.5px grey solid;
	transform: rotate(-30deg);
	margin-left: -6px;
	display: inline-block;
	transition: 0.5s
}
.change1 .barra1{
	display: inline-block;
	width: 10px;
	border-bottom: 1.5px grey solid;
	transform: rotate(225deg);
}
.change1 .barra2{
	display: inline-block;
	width: 10px;
	border-bottom: 1.5px grey solid;
	transform: rotate(-225deg);
	margin-left: -13.5px;
}
#tendinaCategorie{
	background-color: #f5f5f5;
	position: absolute;
	width: 180px;
	height: 0px;
	transition: height 0.5s;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-left: -1px;
	margin-top: -2px;
	overflow: hidden;
	border-left: 1px #e7e7e7 solid;
	border-bottom: 1px #e7e7e7 solid;
	border-right: 1px #e7e7e7 solid;
}
.containerbarra1barra2{
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	transition: 0.5s
}
.change1 .containerbarra1barra2{
	margin-right: 8px
}
p{
	font-family: arial
}
html{
	overflow-x: hidden;
}
header{
	width: 100%;
	height: 70px;
	padding-top: 20px;
	background-color: #2795a0;
}
footer{
	width: 100%;
	height: 200px;
	background-color: #2795a0;
}
body{
	background-color: #dbdbdb;
	user-select: none;
	overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
	width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
.dispositivoinput{
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    text-align: left;
    margin-left: 1px;
    width: 99%;
    border-left: 3px #1ddc0d solid;
    transition: all 0.1s;
    text-decoration: none;
    height: 50px
}

.dispositivoinput p{
    margin-left: 30px;
    font-size: 14px;
    color: black;
    font-family: titillium web;
}

.dispositivoinput:hover{
    border-left: 4px #2bcc1d solid;
    background-color: #f0f0f0;
    cursor: pointer;
}
.button {
	outline: none;
	float: right;
	padding: 6px 10px;
	margin-right: 150px;
	margin-top: 10px;
	background-color: #00b999;
	color: #f0f0f0;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	transition: all 0.2s
}
.button:active{
	transform: translateY(2px);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.06);
}
.button:hover {
	background-color: #00a88b;
}
.inserimentodatidiaccesso{
	padding: 7px 10px;
	margin-top: 10px;
	font-size: 14px;
	border: none;
	float: right;
	margin-right: 5px;
	width: 160px;
	outline: none
}
#filtra{
	width: 80px;
	padding: 2.5px;
	background-color: #f5f5f5;
	border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
	display: inline-block;
	transition: 0.2s;
	float: right;
	margin-right: 30px;
	border: 1px #e7e7e7 solid;
	margin-top: 2.5px;
}
#filtra:active{
	transform: translateY(2px);
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.09), 0 5px 14px 0 rgba(0, 0, 0, 0.11)
}
#contenitoregenerale{
	margin: auto;width:1000px;height: 1000px;background-color: white;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.05)
}
#titolohome{
	width: 100%;background-color: #81d1d9;margin: auto;border-radius: 5px 5px 0px 0px;text-align: center;padding:10px 0px 10px 0px
}
